body {
    padding-top: 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(242, 242, 242);
}

@media (max-width: 1050px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
}